.winnerPrompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 60, 66, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hidden {
  display: none;
}

.winnerPromptContent {
  background-color: #0e2e32;
  padding: 30px 40px;
  border: 4px solid #E6E0C9;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.winnerMess {
  font-size: 1.2rem;
  color: #FFD43B;
  margin-bottom: 20px;
}

.playAgainBtn {
  padding: 10px 20px;
  color: #103c42;
  background-color: #FFD43B;
}

.playAgainBtn:hover {
  background-color: #FFC107;
  transform: scale(1.05);
  transition: all 0.2s;
}
